div {
  box-sizing: border-box;
}

.cards {
  width: 8.5in;
  height: 11in;
  border:solid black 1.5px;
  font-size: 8px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: solid black 1px;
  width: 2.5in;
  height: 3.5in;
  display: inline-block;
  margin-right: .1in;
  margin-top: .1in;
  position: relative;
}

.card-header {
  border-bottom: solid black 1px;
  width: 100%;
  height: .375in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .125in;
  font-size: 12px;
  font-weight: bold;
}

.card-main {
  margin: 0 .125in;
}

.card-pic {
  border: solid black 1.5px;
  border-bottom: none;
  height: .875in;
  margin-top: .125in;
  /* border-radius: 5px; */
}

.card-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black 1.5px;
  border-radius: 4px;
  padding: .03in .06in;

}

.action {
  margin-top: .125in;
  border: solid black 1.5px;
  border-radius: 3px;
  padding: .06in;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.icon {
  height: .1in;
  width: .1in;
}

.cost {
  display: flex;
  flex-direction: row;
}
.cost-icon {
  border-radius: 100%;
  width: .125in;
  height: .125in;
  border: solid black .5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  font-size: 8px;
  font-weight: normal;
  position: relative;
}
.test {
  border-radius: 100%;
  border: solid black .5px;
  background: white;
  position: absolute;
  width: .06in;
  height: .06in;
  top: -0.03in;
  right: -0.03in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4px;
}

.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;strokeWidth:1.91px;}

.action-trigger {
  position: absolute;
  left: .0675in;
  top: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
